.theme-default-content:not(.custom) {
  max-width: 1000px !important;
}

.copy-code-pure-button {
  z-index: 19 !important;
}
.features{
  text-align: center;
  padding: 7rem 0 !important;
}
